@namespace BlazorAppRenderMode.Client

<nav class="mode-nav">
    <RecrovitModeAwareNavLink Href="/" Match="NavLinkMatch.All">
        SSR
    </RecrovitModeAwareNavLink>
    <RecrovitModeAwareNavLink Href="/demo-interactiveserver">
        Interactive Server
    </RecrovitModeAwareNavLink>
    <RecrovitModeAwareNavLink Href="/demo-interactiveauto">
        Interactive Auto
    </RecrovitModeAwareNavLink>
    <RecrovitModeAwareNavLink Href="/demo-interactivewebassembly">
        Interactive WebAssembly
    </RecrovitModeAwareNavLink>
    <RecrovitModeAwareNavLink Href="/demo-clientonly">
        Client Only
    </RecrovitModeAwareNavLink>
</nav>

